<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Global default level -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Package-tier log-level controlling -->
    <!-- API Gateway specifics -->
    <logger name="org.springframework.cloud.gateway" level="TRACE" />

    <!-- Spring WebFlux/Web -->
    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="org.springframework.http.server.reactive" level="DEBUG" />

    <!-- Spring Security Firewall / Security specifics -->
    <logger name="org.springframework.security" level="TRACE" />
    <logger name="org.springframework.security.web.server.firewall" level="DEBUG" />

    <!-- Netty Client / Server (Downstream / Upstream) -->
    <logger name="reactor.netty.http.client" level="DEBUG" />
    <logger name="reactor.netty.http.server" level="DEBUG" />

    <!-- Application specific -->
    <logger name="com.jpg.apigateway" level="DEBUG" />

</configuration>